/* custom property */
:root {
	--accent-color: #800000;  /* could also be coded #800 */
	--gradient-color: #f6bb73;

	--light_menu: white;
	--mid_menu: antiquewhite;
	--dark_menu: black;
}

/* reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* default styles */
body {
	font-family: Arial, Helvetica, sans-serif;
    font-size: calc(15px + .2vw);
	width: min(80%, 1024px);
	line-height: 1.5;
	margin: auto;
	border: 2px solid var(--accent-color);
}
h1, h2, h3, p, ul {
	padding: .25em 0;
}
a:hover, a:focus{
	font-style: italic;
	color: var(--accent-color);
}
h1 {
	font-size: 150%;
}
h2 {
	font-size: 130%;
	color: var(--accent-color);
}
h3 {
	font-size: 105%;
}
ul {
	margin-left: 2em;
}

/* the styles for the header */
header {
	line-height: 1.2;
	border-bottom: 2px solid var(--accent-color);
	text-align: center;
	background-image: linear-gradient(
	    30deg, var(--gradient-color) 0%, white 30%, white 65%, var(--gradient-color) 100%);
	& h2 {
		font-size: 175%;
		padding: .5em 0 0 0;
	}
	& h3 {
		font-size: 130%;
		font-style: italic;
		padding-bottom: 1em;
	}
	& img {
		width: clamp(40px, 15%, 80px);
		float: left;
		margin: .75em 1em;
		display: none;
	}
}

nav ul{
	display: none;
	list-style: none;
	padding: 0;
	margin: 0;
}
/* the styles for the main content */
main {
	display: flex;
	padding: 0 1em 1em;
	flex-direction: column-reverse;
	& blockquote {
		font-style: italic;
		padding-left: 1em;
	}
	& h3 + img { /* speaker images */
		width: clamp(40px, 50%, 75px);
		border: 4px double var(--accent-color);
		border-radius: 10px;
	}
}

/* the styles for the section */
section {
	padding-left: .5em;
	& img {
		width: clamp(100px, 50%, 250px);
		float: right;
		margin: 0 1em .25em;
	}
}

/* the styles for the aside */
aside {
	padding-right: .5em;
}

/* the styles for the footer */
footer {
	background-color: var(--accent-color);
	& p {
		text-align: center;
		color: white;
		padding: 1em 0;
	}
}

/* CSS class */
.featured {
	border-top: 2px solid var(--accent-color);
	border-bottom: 2px solid var(--accent-color);
	padding: .5em 0 1em;
}
.speaker {
	& h1 {
		color: var(--accent-color);
	}
	& h2 {
		color: black;
	}
	& p {
		padding: .5em 0; 
	}	
}
.large {
	font-size: 125%;
}

/* styles for the menu */
.menu {
	display: none;
	position: absolute;
	width: 40%;
	left: 0;
	top: 3.2rem;
	background-color: var(--accent-color);
	list-style: none;
	margin: 0;
	padding: 0.25rem;
	& li {  
		text-align: left;
	}
	& li a{
		display: block;
		padding: .75em 1em;
		text-decoration: none;
		color: var(--light_menu);
		margin: 2px 0;
	}
}
.menu-toggle{
	position: absolute;
	left: -9999px;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip:rect(0 0 0 0);
	white-space: nowrap;
	border: 0;
}

.menu-btn{
	display: block;
	position: absolute;
	right: .5rem;
	top: .5rem;
	width: 2.2rem;
	height: 2.2rem;
	line-height: 2.2rem;
	text-align: center;
	cursor: pointer;
	user-select: none;
	user-select: none;
	font-size: 1.2rem;
}
.menu-btn::before{
	content: "\2630";
	display: inline-block;
	vertical-align: middle;
	color: var(--light_menu);
}
#menu-toggle:checked+.menu-btn::before{
	content: "\2715";
}
#menu-toggle:checked+.menu-btn +.menu{
	display: block;
}

.navbar {
	clear: left;
	background-color: var(--accent-color);
	position: relative;
	& a {
		display: block;
		padding: 1em;
		text-decoration: none;
		margin: 0 1px 2px;
	}
	& a:link, a:visited { 
		color: var(--light_menu);
	}
	& a:hover, a:focus, a.current {
		background-color: var(--mid_menu);
		color: var(--dark_menu);
	}
	& ul {
		list-style-type: none;
		padding: 0;
		margin: 0;
	}
}


.submenu {
	position: relative;
	& small { margin-left: .25em; }
	&a::after{
		content: "\25B6";
		float: right;
		margin-left: .5em;
	}
}

.dropdown {
	position: absolute;
	left: 0;
	right: 0;
	background-color: var(--accent-color);
	color: var(--light_menu);
	display: none;
	& > li a { 
		margin: 0 2px 2px; 
	}
	& li a{
		padding-left: 1.5rem;
		display: block;
	}
}

.submenu:hover > .dropdown {
	display: block;
}

.hamburger{
	font-size: 2rem;
	background: none;
	border: none;
	cursor: pointer;
	color: pointer;
	color: var(--accent-color);
	padding: .25em .5em;
}
.hamburger:focus{
	outline: 2px solid var(--accent-color);
}


.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a { margin-right: 0; }


@media only screen and (min-width:745px){
	main {
	flex-direction: row;
}

/* the styles for the section */
	section {
	flex-basis: 75%;
}

/* the styles for the aside */
	aside {
	flex-basis: 25%;
}
	
	.menu {
	display: flex;
	position: relative;
	width: 100%;
	& li { 
		flex-basis: 20%; 
		text-align: center;
	}
	& li a{
		display: block;
		padding: 1em;
		margin: 0 1px 2px;
		color: var(--light_menu);
	}
}
.menu-btn{
	display: none;
}
.submenu{
	position: relative;
}
.dropdown{
	position: absolute;
	left: 0;
	right: 0;
	top:auto;
	background-color: var(--accent-color);
	display: none;
}
.submenu:hover > .dropdown{
	display: block;
}
.submenu> a::after{
	content: "\25BC";
	float:none;
	margin-left: .25em;
}
.dropdown li a{
	margin: 0 2px 2px;
	padding-left: 0.5rem;

}
.menu > li:first-child a { margin-left: 0; }
.menu > li:last-child a { margin-right: 0; }

.navbar a{
	margin: 0 1px 2px;
}
nav ul{
		display: flex;
	}
.hamburger{
	display: none;
}

}


